<section class="card">
  <a href="/current/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <div class="current-text">
        <h2>The Current Movie Title</h2>
        <p>
          "In short, the plot is what happens in a film, 
          i.e. the narrative sequence of events that 
          determine the outcome of the characters. 
          Thus, movie plots are the events that happen, 
          in sequence, in order to show a cause and effect."
        </p>
      </div>
    </div>
  </a>
</section>
