<section id="search">
    <h3>Search for a Movie</h3>
        <div class="search-input">
            <input type="text" placeholder="Movie Title">
            <a href="#" >Search</a>
        </div>
</section>