<section class="card">
  <a href="/watch-list{{id}}">
    <header>{{name}}</header>
  </a>
  <h1>Your Movies <span>Watch List</span></h1>

      <input class="details" type="checkbox">
      <p>movie title</p>

      <input class="details" type="checkbox">
      <p>movie title</p>

      <input class="details" type="checkbox">
      <p>movie title</p>

      <input class="details" type="checkbox">
      <p>movie title</p>
        
      <div class ="header-btns">
        <a href="#" class="header-btn">Add New Movie</a>
      </div>
</section>
