<<<<<<< HEAD
//this is the home page. This should be basic intro to the site. 

<section id="current">
        <div class="current-image">
            <img src="">
        </div>
        <div class="current-text">
            <h2>Welcome to Your Movie Guide</h2>
            <p>
                The ultimate guide to movies you have watched, and movies you would like to watch in the future.
                Your Movie Guide lets you track, and manage custom movie lists easily. Create a movie List
                by filling out a form of questions, add the movie to your list, and check off each movie you have seen already.
                Never have to worry if you have watched the movie before or not. Sign up or sign in and enjoy the movies!
            </p>
        </div>
    </section>
=======
{{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}}
>>>>>>> b21b2d1735ecf2aaa0181f777d89670e62bf28ab
