<form action="/">
    <label for="Movie"> Enter recently watched:</label>
    <label for="Genre"> Genre type:</label>
    <label for="Rating"> 1-10:</label><br>
    <input type"text" id="filmname" name="filmname"><br>
    <input type="submit" value="Movies Watched">
</form>