{{!-- //this is where we want the form to append a card to --}}
<link rel="stylesheet" type="text/css" href="/css/watchlist.css">
<form action="/my-handling-form-page" method="post">
    <ul>
        <li>
            <label for="watched">Recently Watched:</label>
            <input type="text" id="watched" name="user-watched">
        </li>
        <li>
            <label for="genre">Movie Genre:</label>
            <input type="text" id="genre" name="user_genre">
        </li>
        <li>
            <label for="rating">Movie Rating:</label>
            <textarea id="text" name="user_rating"></textarea>
        </li>
        <li class="button">
            <button type="submit">Add to Watch-List</button>
            
        </li>
    </ul>
</form>
    <script src='./js/main.js'></script>

    
