{{!-- //this is where we want the form to append a card to --}}
<link rel="stylesheet" type="text/css" href="/css/watchlist.css">

<div class="watch-list">
    <h1>YOUR MOVIES <span>WATCH LIST</span></h1>
    <p class="details">Keep track of the movies you have recently watched. Add a movie to your list by fillling out the form to the right.</p>
</div>
<form id="watch-form" action="/my-handling-form-page" method="post">
    <ul>
        <li>
            <label id="watch-text" for="watched">Recently Watched:</label>
            <input type="text" id="watched" name="user-watched">
        </li>
        <li>
            <label id="watch-text" for="genre">Movie Genre:</label>
            <input type="text" id="genre" name="user_genre">
        </li>
        <li>
            <label id="watch-text" for="rating">Movie Rating:</label>
            <textarea id="text" name="user_rating"></textarea>
        </li>
        <li class="button">
            <button type="submit">Add to Watch-List</button>
            
        </li>
    </ul>
</form>
    <script src='./js/main.js'></script>

    
