{{!-- //this is where we want the form to append a card to --}}
<link rel="stylesheet" type="text/css" href="/css/watchlist.css">

<div class="watch-list">
    <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/spider-mannowayhome_lob_crd_03.jpg">
    <p class="details">
        Title: Spider-Man: No Way Home <br>
        Genre: Action <br>
        Rating: 10
    </p>
</div>
<form id="watch-form" action="/my-handling-form-page" method="post">
    <ul>
        <li>
            <label id="watch-text" for="watched">Recently Watched:</label>
            <input type="text" id="watched" name="user-watched">
        </li>
        <li>
            <label id="watch-text" for="genre">Movie Genre:</label>
            <input type="text" id="genre" name="user_genre">
        </li>
        <li>
            <label id="watch-text" for="rating">Movie Rating:</label>
            <textarea id="text" name="user_rating"></textarea>
        </li>
        <li class="button">
            <button type="submit">Add to Watch-List</button>
        </li>
    </ul>
</form>
    <script src='./js/main.js'></script>
